
<h3>{{title}}</h3>

<p-table  [value]="gridData" [paginator]="true" [rows]="15" [expandedRowKeys]="expandedRows">
  <ng-template pTemplate="header">
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td> {{car.make}}</td>
      <td pEditableColumn myEditatbeCell cellValue="{{car.model}}"></td>
      <td pEditableColumn myEditatbeCell cellValue="{{car.price}}"></td>
    </tr>
  </ng-template>
</p-table>
